.org {
    display: flex;
    align-items: center;
    width: 100vw;
}

.brandImage {
    height: 30px;
    width: 30px;
}

.brandName {
    margin-left: 1rem;
    font-weight: bold;
}

.operations {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.action {
    margin-left: 15px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.action:hover {
background-color: rgba(155, 152, 152, 0.5);
border-radius: 50%;
}

.parent
{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}